# Probabilstic Binary Classifier

## Towards Naive Bayes
So far, ...
- Developed our first simple variational hybrid quantum-classical binary classification algorithm. We used a parameterized quantum circuit (PQC) that measured the quantum state.
- We have not made use of the probabilistic characteristics of quantum systems yet because we were able to construct a classical program that determined the resulting probability of measuring a `0` or `1`.

ü•Ö Starting with an initial prior probability, we update the resulting probability inside the PQC based on the evidence given by the passenger data.

### Load the Raw Data

In [3]:
import pandas as pd 
train = pd.read_csv('../titanic_data/train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Calculate the Probability of Survival

üìù Notes:
- The `.eq(1)` function is chained to filter rows where the 'Survived' column's value equals `1`
- This is already a probabilistic classifier. 
  - Specifically, it is another `predict_death` classifier.
  - This is also an example of a **hypocrite classifier** because it does not consider individual passengers when predicting survival.
  - Despite being a hypocrite classifier, it yields a higher precision than a purely random classifier does.

In [6]:
# List of all survivors
survivors = train[train.Survived.eq(1)]

# Calculate the probability
prob_survival = len(survivors)/len(train)
print('P(Survival) is {:.2f}'.format(prob_survival))

P(Survival) is 0.38